# 忽略.vscode文件夹
.vscode/
.VSCodeCounter

tools/ffmpeg
tools/N_m3u8DL-RE

# 忽略工作区文件
*.code-workspace

# 忽略 .idea
.idea/

# 忽略python缓存文件
*/__pycache__
*.py[cod]

# 忽略日志文件
log/
*.log

# 忽略测试文件
test.py

# 忽略配置文件
config.json
AppData/

# 忽略下载文件夹
download/

# 忽略构建文件夹
.DS_Store
build/
dist/
